# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
dist
build

# Ignore environment variable files
.env
.env.local

# Ignore logs
logs
*.log

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
